<td class="sonata-ba-list-field sonata-ba-list-field-{{ field_description.type }}" objectId="{{ admin.id(object) }}"
    xmlns="http://www.w3.org/1999/html">

    <a href="{{ asset('uploads/doc/'~object.path) }}"> {{object.path}} </a>

</td>




